## converts a csv file to a json format

In [1]:
import pandas as pd

In [24]:
filename = "Totals_emissions_economics.csv"
input_file = "/Users/glennjames/Documents/GitHub/angular-project-sts/Python Scripts/Honours Results Data/Mode Increase Effects/Totals_emissions_economics.csv"

In [29]:
df = pd.read_csv(input_file)
df

,Outcome,no_change,actual,equal_dev,greenfield,md_inis,tod_infill
0,Economics ($M per year),0,30.542228,23.135145,15.512895,34.817872,35.618419
1,Emissions (kt CO2 per year),0,-16.118041,-11.973215,-8.154440,-18.371852,-18.523975

In [22]:
df

,Unnamed: 1,actual,equal_dev,greenfield,md_inis,tod_infill
Unnamed: 0,,,,,,
Economics ($M per year),0,30.542228,23.135145,15.512895,34.817872,35.618419
Emissions (kt CO2 per year),0,-16.118041,-11.973215,-8.154440,-18.371852,-18.523975

In [31]:
# Write DataFrame to JSON file
json_file_path = 'Totals_emissions_economics.json'
df.to_json(json_file_path, orient='records', indent=2)